---
Checks: "bugprone-*,
         cert-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         hicpp-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -modernize-use-trailing-return-type,
         -misc-non-private-member-variables-in-classes,
         -cppcoreguidelines-pro-type-static-cast-downcast"

HeaderFilterRegex: "."

FormatStyle: file
...

